html {
  font-size: 16px;
}

html, body, .container-table {
    height: 100%;
}

body {
 background-color: #fff;
 color: #000;
 font-size: 62.5%;
}

h1, h2 {
    font-weight: bold;
}

h1, h2, h3, h4 {
  font-family: 'Varela Round', sans-serif;
  color: #492c7c;
}

p, label, ul>li {
  font-size: 2em;
  font-family: 'Varela Round', sans-serif;
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

select.form-control, .btn {
  font-family: 'Varela Round', sans-serif;
}


/* SEGMENTATION */

#step1, #step2, #step4, #step5 {
  display: none;
}

#social {
    display: none;
 }
 
.yellow {
  background-color:#FFFF66;
}

.response-load {
  text-align:right;
  background-color: #FFFF66;
}

.safe-load {
  text-align:left;
}

#safe-load {
  background-color: #DDDDDD;
  color:#000;
}

#id_all_shifts, #id_opening, #id_mid, #id_breaks, #id_sick, #id_closing {
  color: #fff;
  width: 100px;
}

/* ACTION STYLES */

.loads_value {
    border-radius: 6px;
    background: #fff;
    background-color: #fff;
    padding: 3px 20px;
    color: #000;
    border: 1px solid #ccc;
    font-size:2em;
}

@media screen and (max-width: 767px) {
  form {
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  p {
    font-size: 1.5em;
  }
  .response-load {
    text-align:left;
  }
  .safe-load {
    text-align: right;
  }

}
