html {
  font-size: 16px;
}

html, body, .container-table {
    height: 100%;
}

body {
 background-color: #36577f;
 color: #fff;
 font-size: 62.5%;
}

p, label { font-size: 2em; }

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

/* SEGMENTATION */

#step1, #step2 {
  display: none;
}

/* ACTION STYLES */

.loads li {
    list-style-type: none;
    margin-bottom: 12px;
    font-size: 22px;
}

.loads_value {
    background-color: #fff;
    padding: 6px;
    color: #000;
}
