html {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
}

html, body, .container-table {
    height: 100%;
}

body {
 background-color: #e3f0f7;
 color: #000;
 font-size: 62.5%;
}

p, label { font-size: 2em; }

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.btn {
  background-color: #008080;
  border-color: #008080;
  color: #fff;
}

/* SEGMENTATION */

#step1, #step2, #step4, #step5 {
  display: none;
}

#response-load, #safe-load {
  padding: 24px;
}

#safe-load {
  background-color: #f8a489;
  color:#bf5582;
}

#step4 h2 {
  color: #36577f;
}

#step5 h2>small {
  color: #3d7c8e;
}

#id_opening, #id_breaks, #id_sick, #id_closing {
  width: 100px;
}

/* ACTION STYLES */

.loads li {
    list-style-type: none;
    margin-bottom: 12px;
    font-size: 22px;
}

.loads_value {
    border-radius: 6px;
    background: #fff;
    background-color: #fff;
    padding: 6px 12px;
    color: #000;

}
