{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <meta name="description" content="">

        <meta name="author" content="SEIU-UHW">

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title></title>
        
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
	<style>
	  body { background-color: #93aeb6;}
	</style>
</head>

<body>
	<main class="container container-table">
<div class="row vertical-center-row">

  <div class="text-center col-md-12">
    
    <div id="step3">
    
        <div class="row">
    
            <div class="col-md-6 text-right" id="response-load">
                <h2><strong>My current patient load</strong></h2>
                <ul class="loads">
                    <li> Start of shift or opening <span class="loads_value">{{ query.opening }}</span></li>
                    <li> Mid-shift <span class="loads_value">{{ query.mid }}</span></li>                    
                    <li> When someone goes on break <span class="loads_value">{{ query.breaks }}</span></li>
                    <li> When someone calls out sick <span class="loads_value">{{ query.sick }}</span></li>
                    <li> End of shift or closing <span class="loads_value">{{ query.closing }}</span></li>
                </ul>
            </div>
    
            <div class="col-md-6 text-left" id="safe-load">
                <h2><strong>My patient load with safe staffing</strong></h2>
                <ul class="loads">
                    <li> <span class="loads_value">{{ ratios }}</span> Start of shift or opening </li>
                    <li> <span class="loads_value">{{ ratios }}</span> Mid-shift </li>
                    <li> <span class="loads_value">{{ ratios }}</span> When someone goes on break </li>                    
                    <li> <span class="loads_value">{{ ratios }}</span> When someone calls out sick </li>
                    <li> <span class="loads_value">{{ ratios }}</span> End of shift or closing </li>
                </ul>
            </div>
    
         </div>
         <br/>
         <div id="btnStep3" class="btn btn-default btn-lg">How does this work?</div>
    
    </div>
    
    <div id="step4">
        <h1><strong>How Safe Staffing Works</strong></h1>
        <h2>Staffing legislation mandating no more than <span id="ratio">{{ ratios }}</span> patients per 1 {{ query.position }} means every dialysis employer must guarantee that number 
is not exceeded — even on breaks and lunches; even if someone calls out sick. </h2><br/><br/>
        
        <div id="btnStep4" class="btn btn-default btn-lg">I want safe staffing!</div>

    </div>

    <div id="step5">
        
        <h2 class="text-left"><strong>It's Time to #Fix Dialysis</strong><br/><small>Our legislation would improve patient care and working conditions by setting safe staffing levels at dialysis clinics, yearly inspections and a minimum of 45 minutes between the end of one patient’s visit and the start of another. It would apply to registered nurses, patient care technicians and social workers.</small> </h2>

        <h2 class="text-left"><strong>I Support Safe Staffing</strong></h2>
    
        <form action="post_contact/" method="post">
        {% csrf_token %}
                 <input type="hidden" id="id_rid" name="rid" value="{{query.id}}" />
                 <div class="form-group row text-left">
                    <label for="id_name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-4">
                       <input id="id_name" maxlength="100" name="name" type="text" class="form-control input-lg" required="">
                     </div>
                     <label for="id_email" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-4">
                       <input id="id_email" maxlength="100" name="email" type="email" class="form-control input-lg" required="">
                      </div>
                  </div>
                  <div class="form-group row text-left">
                    <label for="id_phone_number" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-4">
                       <input id="id_phone_number" maxlength="100" name="phone_number" type="text" class="form-control input-lg" placeholder="999-999-9999">
                     </div>
                     <label for="id_zipcode" class="col-sm-2 col-form-label">Zip</label>
                      <div class="col-sm-4">
                       <input id="id_zipcode" maxlength="100" name="zipcode" type="text" class="form-control input-lg" placeholder="99999">
                      </div>                    
                  </div> 
                  <input type="submit" class="btn btn-default btn-lg" value="SUBMIT"/>
                  <h2 class="text-left"><small>Insert worker petition text here</small></h2>
        </form>
        <br/><br/>
        <p class="text-left" style="font-size:12px">By providing my phone  number,  I understand  that SEIU and its locals and affiliates may use automated  calling technologies  and/or text message me on my cellular phone  on a periodic basis. SEIU will never charge for text message alerts. Carrier message and data rates may apply to such alerts. Text STOP to 787753 to stop receiving messages. Text HELP to 787753 for more information. </p>
      
    </div>

    </div>
    
  </div>
 

	</main>


	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- Custom scripts -->
	<script src="{% static 'js/scripts.js' %}"></script>
	<script>
	  step += 3;
	</script>

</body>

</html>
