{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <meta name="description" content="">

        <meta name="author" content="Matthew Sedlar">

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title></title>
        
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
	<main class="container container-table">
      {% block content %}
      {% endblock %}
	</main>


	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- Custom scripts -->
	<script src="{% static 'js/scripts.js' %}"></script>

</body>

</html>
