{% extends 'base.html' %}

{% block content %}
    		<div class="row vertical-center-row">
    		    <!-- POSITION AND FACILITY -->
        		<div class="text-center col-md-12">

              <form action="post_response/" class="form-inline" method="post">
                {% csrf_token %}
                {{ form }}
              <input type="submit" value="Submit"/>
            </form>

        		  <form class="form-inline">
                <div class="form-group">
                  <label for="position">I am a</label>
                    <select class="form-control" id="position">
                      <option>Social Worker</option>
                      <option>Patient Care Technician</option>
                      <option>Registered Nurse</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="facility">and I work at</label>
                    <select class="form-control" id="facility">
                      <option>DaVita</option>
                      <option>Fresenius Medical Care</option>
                      <option>Other Facility</option>
                    </select>
                </div>
                <div id="btnStep0" class="btn btn-default">Submit</div>
              </form>
			      </div>
    		    <!-- FACILITY LOCATION -->
        		<div id="step1" class="text-center col-md-12">
        		  <form class="form-inline">
                <div class="form-group">
                  <label for="location">My clinic is located in</label>
                  <input id="location" type="text">
                </div>
                <div id="btnStep2" class="btn btn-default">Submit</div>
              </form>
			      </div>
    		</div>
{% endblock %}