{% extends 'base.html' %}

{% block content %}
    		<div class="row vertical-center-row">

        		<div class="text-center col-md-12">
        		

        		  <form class="form-inline" action="post_response/" method="post">
        		    {% csrf_token %}
        		    <div id="step0">

            		   <h1 class="text-left"><strong>It’s Time to #FixDialysis</strong></h1>
            		   <p class="text-left">Dialysis helps people with kidney failure stay alive, but patient care is suffering from inadequate staffing and unsanitary conditions. That’s because the dialysis companies value profit more than their patients and caregivers like us. To companies like DaVita and Fresenius, we are all just numbers on their balance sheets. But we are More than Numbers, and we can #FixDialysis by improving staffing and conditions in our facilities.</p>
            		   <p class="text-left">We can start by improving staffing levels so that RNs, PCTs, and Social Workers like us are better able to safely and effectively care for patients. Using this tool, you can take a look at what your personal, daily staffing looks like and compare it to safer levels. Get started below.</p><br/>        		    
        		    
        		    <input type="hidden" id="id_unique_key" name="unique_key" value="{{ unique_key }}" />
        		    <!-- POSITION AND FACILITY -->
                <div class="form-group">
                    <label for="id_position">I am a </label>
                      <select id="id_position" name="position" class="form-control input-lg" required="">
                        <option data-hidden="true">Choose Your Job</option>
                        <option value="Social Worker">Social Worker</option>
                        <option value="Patient Care Technician">Patient Care Technician</option>
                        <option value="Registered Nurse">Registered Nurse</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="id_facility">and I work at </label>
                        <select id="id_facility" name="facility" class="form-control input-lg" required="">
                            <option data-hidden="true">Choose Your Employer</option>
                          <option value="DaVita">DaVita</option>
                          <option value="Fresenius Medical Care">Fresenius Medical Care</option>
                          <option value="Other Facility">Other Facility</option>
                        </select>
                  </div>
                  <div id="btnStep0" class="btn btn-default btn-lg">Next</div>
			          </div>
    		        <!-- FACILITY LOCATION -->
        		    <div id="step1">
                  <div class="form-group">
                    <label for="id_location">My clinic is located in </label>
                      <input id="id_location" maxlength="100" name="location" type="text" class="form-control input-lg">
                  </div>
                  <div class="form-group">
                    <label for="id_clinic_name">and my clinic's name is </label>
                      <input id="id_clinic_name" maxlength="100" name="clinic_name" type="text" class="form-control input-lg">
                  </div>
                  <div id="btnStep1" class="btn btn-default btn-lg">Next</div>
                </div>
                <!-- PATIENT LOAD DATA -->
                <div id="step2">
                
                    <div id="social">
                        <div class="form-group">
                            <h1><strong>My daily patient load</strong></h1>
                            <input id="id_all_shifts" name="all_shifts" class="form-control input-lg" type="number" value='0'><br/><br/>
                        </div>
                    </div>
                    
                    <div id="other">    
                    <h1><strong>My daily patient load</strong></h1>
                    <p>(Fill in the numbers you typically have for each)</p>

                        <div class="form-group text-right">
                          <label for="id_opening">Start of shift or opening </label>
                          <input id="id_opening" name="opening" class="form-control input-lg" type="number" value='0'><br/>
                          <label for="id_mid">Mid-shift </label>
                          <input id="id_mid" name="mid" class="form-control input-lg" type="number" value='0'><br/>
                          <label for="id_breaks">When someone goes on break </label>
                          <input id="id_breaks" name="breaks" class="form-control input-lg" type="number" value='0'><br/>
                          <label for="id_sick">When someone calls out sick </label>
                          <input id="id_sick" name="sick" class="form-control input-lg" type="number" value='0'><br/>
                          <label for="id_closing">End of shift or closing </label>
                          <input id="id_closing" name="closing" class="form-control input-lg" type="number" value='0'>
                        </div>
                        <br/><br/>
                       </div>
                        <input type="submit" class="btn btn-default btn-lg" value="Submit"/>

                  </div>
              </form>
			      </div>
    		</div>
    		
{% endblock %}
