{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <meta name="description" content="">

        <meta name="author" content="SEIU-UHW">

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>SEIU-UHW Dialysis Calculator</title>
        
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'styles/styles.css' %}">

</head>

<body>
	<main class="container container-table">

    		<div class="row vertical-center-row">

        		<div class="text-center col-md-12">
        		<h1>Thanks!<br/><small>You’ve added your name to support safe staffing.</small></h1>
        		</div>
        		
        	</div>

	</main>
	
	<script>
    window.setTimeout(function(){window.location = "http://www.morethannumbers.org"; },3000);
	</script>

</body>

</html>

